/* buton */

.button{
    transition: all ease 0.21s;
    position: relative;
    height: 5rem;
    border-radius: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-decoration: none;
    color: #fff;
    background-color: #FE5716;
}
.button:hover{
    background-color: transparent;
    color: #FE5716;
}
.button:hover:after{

    width: 99%;
    height: 4.5rem;
    background-color: transparent;
    border:4px solid #FE5716;
}
.button::after{
    transition: all ease 0.21s;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50% );
    content: "";
    position: absolute;
    border-radius: 2.5rem;
    width:0;
    height: 0;
    background-color: transparent;
    border:0px solid #FE5716;
}
/* header */
header {
    background: #0A9642;
    height: 6rem;
    position: relative;
    z-index: 11;
}

.topbar {
    height: 3rem;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
}
.topbar p {
    margin-right: 1rem;
    text-decoration: none;
    color: #fff;
    margin-right: 1rem;
    text-decoration: none;
    color: #fff;
}
.topbar p:hover a{
    transition: 0.24s;
    color: #FE5716;
}
.topbar a {
    text-decoration: none;
    color: #fff;
}
.topbar i {
    margin-right: 0.5rem;
}
.topbar__media ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
}
.topbar__media ul li a:hover{
    transition: 0.61s;
    color: #FE5716;
}
.topbar__mail {
    display: flex;
    justify-content: flex-end;
}
.topbar__mail p {
    display: flex;
    align-items: center;
}
.topbar__mail i {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #FE5716;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar {
    border-radius: 2.5rem;
    padding: 1rem 0;
    height: 5rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}
.navbar__logo {
    padding: 0 1rem;

}
.navbar__logo svg {
    height: 3rem;
}
.navbar__menu {
    display: flex;
    align-items: center;
}
.navbar__menu nav ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    align-items: center;
    height: 3rem;

}
.navbar__menu ul li {
    padding: 1rem;

}
.navbar__menu ul li a {
    text-decoration: none;
    color: rgb(9, 9, 9);
    font-weight: 600;
}
.navbar__menu nav > ul > li >a:hover{
    color: #0A9642 !important ;
}
.innermenu {
    position: relative;
}
li.innermenu ul {

    width: auto;
    height: auto;
    padding: 0.3rem;
    z-index: 9;
    transition: 0.1s;
    position: absolute;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    background-color: #fff;


}
.innermenu li {
    width: 9rem;
    padding: 20px;
    display: inline-block;
    transform: perspective(1px) translateZ(0);
    position: relative;
    transition: color 0.3s;
}
.innermenu ul li:nth-child(odd){
    background: lightgrey;
}
.innermenu ul li:nth-child(even){
    background: #fff;
}
.innermenu li:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: #0A9642;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform 0.3s ease-out;
}
.innermenu li:hover {
    color: white;
}
.innermenu li:hover:before {
    transform: scaleX(1);
}
.innermenu:hover ul {
    visibility: visible;
}
.innermenu ul::before {
    content: "";
    width: 40%;
    height: 5px;
    position: absolute;
    top: -2px;
    left: 0;
    background-color: #0A9642;
}
.navbar__serceh {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.navbar__serceh svg {
    height: 2rem;
    width: 2rem;
}
.section1 {
    overflow: hidden;
    width: 100%;
    height: 45rem;
    padding: 0 0 7rem 0;
    /* scroll-behavior: smooth; */
}
.slider {
    animation: slide 4s;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(4, 0.7, 4, 0.7,4, 0.7, 4, 0.7) step-start;
    animation-fill-mode: forwards; 
    animation-delay: 5s;
    width: 400%;
    display: flex;
}
.slider__slide {
    position: relative;
    width: 100%;
    height: 32rem;
}
.slider__slide img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 45rem;
}
.slider__ova {
    transition: all ease 1s;
    position: absolute;
    height: 640px;
    width: 1040px;
    border-radius: 417px;
    background-color: #17195acf;
    z-index: -1;
    transform: rotate(317deg);
    left: 30px;
    top: -8%;
    animation: fade-down 4.9s;
    animation-iteration-count: infinite;
}
.slide__discrip {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    bottom: -20%;
    left: 20%;
    width: 30rem;
    animation: discrip 4.9s;
    animation-iteration-count: infinite;
}
.slide__discrip .button{
    width: 10rem;
}
.slide__discrip .button:hover {
    background-color: transparent !important;
}
.slide__discrip h2 {
    font-size: 3.75rem;
    font-weight: bold;
}
.deyis {
    gap: 10%;
    position: absolute;
    bottom: -30%;
    right: 20%;
    display: flex;
}
.deyis a {
    text-decoration: none;
    display: flex;
    padding: 20px 23px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #0A9642;

}
.deyis a:hover{
    background-color: #FE5716;
    color: #fff;
}
@keyframes fade-down {
    from{
        opacity: 0;
        top: -80%;
    }
    to{
        top: -7%;
        opacity: 1;
    }
}
@keyframes discrip {
    from{
        opacity: 0;
        bottom: -80%;
    }
    to{
        opacity: 1;
        bottom: -20%;
    }
}
@keyframes slide {
    0%{
        transform: translate(0,0);
    }
    25%{
        transform: translate(-25%,0);
    }
    50%{
        transform: translate(-50%,0);
    }
    75%{
        transform: translate(-75%,0);
    }
    100%{
        transform: translate(0,0);
    }
}